<?xml version="1.0"?>
<launch>

    <!-- Arguments -->
    <arg name="debug" default="false" />
    <arg name="namespace" default="/hero" />

    <!-- Start node -->
    <node name="topological_action_planner" pkg="topological_action_planner" type="tap.py" ns="$(arg namespace)" output="screen">
        <rosparam param="edges" file="$(find topological_action_planner)/example/graph.yaml" command="load" />
    </node>

</launch>
